#!/bin/bash

SCRIPT_DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"
PROJECT_ROOT="$( cd "$SCRIPT_DIR/.." && pwd )"

source "$PROJECT_ROOT/.venv/bin/activate"
uv run --with mcp[cli] mcp run "$PROJECT_ROOT/src/main.py" 